<mat-toolbar class="Header">
  <div class="Header__left">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <div>Test Book Shelf</div>
  </div>

  <div class="Header__right">
    <mat-form-field class="Header__search mb-[-1.1rem]">
      <input
        matInput
        placeholder="Enter title or year"
        [formControl]="search"/>

      @if (search.value) {
        <mat-icon matSuffix mat-button>close</mat-icon>
      } @else {
        <mat-icon
          matSuffix
          mat-button
          (click)="search.setValue(null)">
          search
        </mat-icon>
      }
    </mat-form-field>
  </div>
</mat-toolbar>

<router-outlet />